.black{
    display: flex;
    background-color: #1C1C1C;
    

    .black-logo{
        flex-direction: column;

        img{
            width: 388.58px;
            margin-top: 213px;
            margin-bottom:214px;
            margin-right: 268px;
            margin-left:210px;
            
        }
    }
    .black-content{

        h3{
            font-size: 30px;
            color: #FFFFFF;
            margin-top: 90px;
            margin-right: 390px;
            padding-top: 0px; 
            padding-left: 0px; 
            padding-bottom: 0px;
        }
    }
    }
    


